---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1 slot="content">About</h1>
  <div slot="sidebar">
    <p>This is the about page sidebar</p>
  </div>
</BaseLayout>
