---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <h1 slot="content">Home</h1>
  <div slot="sidebar">
    <p>This is the home page sidebar</p>
  </div>
</BaseLayout>
